
body {
margin:0;
}
h1 {
    color: black;
    text-align: center;
    font: italic 80px cursive;
    margin: 0 0 40px 0;
}

nav {
background-image: url("..\\Images\\El-Yunque-Vista-puerto-rico-331566_500_375.jpg");
background-size:cover;
background-repeat:no-repeat;
height:400px;
<!--Tambien puedes usar padding y para la imagen nueva del yunque:
background-size:100%; background-repeat: no-repeat; background-position: center center;-->
}

nav > ul{
  margin:0;
  padding:0;
  list-style: none;
  text-align:center;
}
li > a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 400;
}
ul > li {
    display:inline;
    color: black;
    margin: 0 10px;
}

section > h3 {
  margin: 0 0 40px 0;
}
section {
  padding: 60px 80px;
}

#about > p{
  width: 60%;
  float: right;
}

#about > div {
  display: inline-block;
  width: 40%;
}

#about > div > img {
  width: 90%;
}
